body {
    background-color: #222;
    /* height: 100vh; */
    color: #fff;
}

.homeHeadingAnimation {
    position: relative;
}

.homeHeadingAnimation::before {
    content: '';
    position: absolute;
    height: 3px;
    background: #03a9f4;
    margin-top: 10px;
    top: 100%;
    animation: homePageHeadingAnimation 4s forwards;
    animation-iteration-count: infinite;
}

.homePageHeadingArrow {
    animation: arrowColorChange 4s forwards;
    animation-iteration-count: infinite;
}

@keyframes arrowColorChange {

    0%,
    50%,
    85% {
        color: #fff;
    }

    100% {
        color: #03a9f4;
    }

}

.anim-delay-6000ms {
    animation-delay: 6s;
}

@keyframes homePageHeadingAnimation {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.form-control {
    background: #222;
    color: white;
    /* border: none; */
}

.form-control:focus {
    background-color: #222;
    color: #fff;
}

.placeholder {
    border-radius: 40px;
    height: 50px;
}

/* Post and comment style */

/* .container {
    width: 600px;
    background-color: #222;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
} */

.post {
    background-color: #333;
    padding: 20px;
    border-bottom: 1px solid #222;
}

.post-content {
    margin-bottom: 20px;
}

.post textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #555;
    border-radius: 4px;
    resize: vertical;
    font-size: 16px;
}

.comments {
    padding: 20px;
}

.comment {
    margin-bottom: 20px;
    /* display: flex; */
    align-items: flex-start;
    /* border-radius: 8px; */
    width: 40px;
    overflow-x: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #444;
}

.comment-avatar {
    margin-right: 10px;
}

.comment-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.comment-content {
    flex: 1;
}

.comment-content strong {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

.comment-text {
    font-size: 16px;
    line-height: 1.4;
    color: #333;
}

.commentReply {
    background: #666;
    width: 300px;
    position: relative;
    left: 100%;
}

@media (max-width:1000px) {
    .commentReply {
        position: relative;
        left: 60%;
    }
}
@media (max-width:770px) {
    .commentReply {
        position: relative;
        left: 30%;
    }
}
@media (max-width:500px) {
    .commentReply {
        position: relative;
        left: 15%;
    }
}
@media (max-width:400px) {
    .commentReply {
        position: relative;
        left: 5%;
    }
}